.home {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold;
  margin-bottom: 0.75rem; /* mb-3 */
}

.subtitle {
  font-size: 1.5rem; /* text-2xl */
  margin-bottom: 0.75rem;
}

.greeting {
  font-size: 1.25rem; /* text-xl */
  margin-bottom: 0.75rem;
}

.flexItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; /* Nuevo: separa los botones del avatar */
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .buttonGroup {
    flex-direction: row;
  }
}

.avatar {
  border-radius: 9999px;
  margin-top: 2rem; /* Antes estaba en 5rem */
  margin-left: auto;
  margin-right: auto;
}